{% load static %}

<!doctype html>
<html lang="en" >
<body style="background-color:antiquewhite;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>User Info</title>
      <style>
          .button3{
              margin-left:220px;
          }
          .currentuser{
              margin-left: 220px;
              font-size: 20px;
          }

          .head-title{
              margin-left: 220px;
              font-size: 30px;
              font-weight: bold;
          }
      </style>
  </head>



  <body>
  {% include 'navbar.html' %}
  <h2 class="title">
      {{ course.ctitle }}
  </h2>
  <button class="button3">
    <a href="../users">Return to User List</a>
    </button>


<p class="head-title">USER INFORMATION</p>
<p class="currentuser">Full name: {{ qs.first_name }} {{ qs.middle_name }} {{ qs.last_name }}</p>
<p class="currentuser">Email: {{ qs.email }}</p>
<p class="currentuser">Nationality: {{ qs.nationality }}</p>
<p class="currentuser">Birthdate: {{ qs.birth_date }}</p>
<p class="currentuser">Address: {{ qs.address }}</p>
<p class="currentuser">Gender: {{ qs.gender }}</p>
<p class="currentuser">Pay Per Day: {{ qs.pay_per_day1 }}</p>
<p class="currentuser">Number of total attendance: {{ qs2 }} </p>
<p class="currentuser">Number of Sick Leave: {{ qs.sick_leave }}</p>
<p class="currentuser">Number of Vacation Leave: {{ qs.vacation_leave }}</p>
<p class="currentuser">Tax rate Deductions: {{ qs.tax_rate }}</p>
<p class="currentuser">Total Pay: {{ total }}</p>
{#<p class="currentuser">Total Pay: float((qs.pay_per_day1 * 10) - (qs.pay_per_day1 * (1 - qs.tax_rate)))</p>#}


  </body>
  {% if attendance and attendance.locked %}

  <form method="post">
    {% csrf_token %}
  <button class="button3" type="submit">Remove attendance updating restrictions
    </button>

  </form>
  {% endif %}
  </html>

