<!DOCTYPE html>
<html lang="en">
<body style="background-color: #463F3A;">
<head>
    <title>Login</title>
    <style>
h2{
    color: white;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 150px;
}
h3{
    color: white;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 50px;
}
a {
    display: block;
    color: white;
    width: 100px;
    margin:auto;
    font-family: Bebas Neue;
    font-size: 50px;
}

   .logout_start {
       color: black;
       background-color: #BCB8B1;

   }


    </style>
</head>
<body>
<h2>
    Logout
</h2>

<h3>Are you sure?</h3>


<a href="../login"> Yes</a>
<a href="../home">No</a>
</body>
</html>

